<p id="welcome"></p>
<br>
<% flash.each do |key, value| %>
<div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<div id="hero-count">

</div>
<section>
    <%= form_tag user_path(@user.id), method: "delete" do %>
        <a class="btn btn-info" href="/heros/new">Create a Hero</a>
        <a class="btn btn-info" href="/account/edit">Edit Account</a>
        <%= submit_tag "Delete #{@user.name}", class: "btn btn-danger" %>
    <% end %>
</section>
<br>

<script type="text/javascript" charset="utf-8">
    class User {
        constructor(name, email, heros) {
            this.name = name;
            this.email = email;
            this.heros = heros;
            this.heroCount = this.heros.length;
        }
    
        render() {
            $("#welcome").append(`Welcome, ${this.name}.`)

            if( this.heroCount > 0 ) {
                $("#hero-count").append(`<p>You currently have ${this.heroCount} hero(s).</p>`);
            } else {
                $("#hero-count").append(`<p>You currently have 0 heroes. Let's fix that! Click 'Create a Hero' to get started.</p>`);
            }
        }
    }

    $(function () {
        $.get("/account.json", function(data) {
            currentUser = new User(data['name'], data['email'], data['heros']);
            currentUser.render();
        });
    });
</script>